/*font imports */
@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto+Condensed');

/*keyframes*/
@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(20%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

html,body{
margin:0;
width: 100%;
height: 416%; /* orginially 350% */
display: flex;
flex-direction: column;

background-color:white;

opacity:;
}
body{
  opacity: ;
}

header{
width: 100%;
height: 13%;
background:white;
/* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
display: flex;
flex-direction: row;
box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
/* background-color: lightcoral; */
position: fixed;
z-index: 3;
animation: 1s ease-out 0s 1 slideInFromTop;
}

#topLeftMenu{
  position: relative;
  left: 0%;
  width: 50%;
  height: 100%;
  /* border: 1px solid pink; */
  align-items: center;
  justify-content: flex-end;
  display: flex;
  flex-direction: row;
}
#headerText{
  width: 86%;
  height: 100%;
  /* border: 1px solid green; */
  display: flex;
  justify-content: flex-end;
}
#headerText p{
  text-transform:uppercase;
  align-self:center;
  font-family: 'Ubuntu Condensed', sans-serif;
  word-spacing: .3em;
  position: relative;
  right: 0;
  color:;
}
#nameDiv{
width:14%;
height: 100%;
/* border: 1px solid blue; */
position: relative;
align-self: flex-start;
display: flex;
justify-content: center;
align-items: center;
overflow: hidden;
}
#initial{
color: white;
background: dimgray;
font-size: 1.5em;
padding: .1em .3em .1em .3em;
border: 1px solid dimgray;
box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

#topRightMenu{
  position: relative;
  width: 50%;
  height: 100%;
  /* border: 1px solid brown; */
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  cursor: ;
}
#topRightMenuWrapper{
width: 100%;
height: 100%;
align-self: flex-end;
/* border: 1px solid pink; */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
#topRightUl{
  list-style-type: none;
  text-transform: uppercase;
  font-family: 'Ubuntu Condensed', sans-serif;
  /* align-self: flex-end; */
}
#topRightUl li{
  display: inline;
  font-size: 1.2em;
  padding-left: 1em;
  cursor: pointer;
  color: rgba(0,0,0,0.7);

}
input{
  border: none;
  background-color: rgba(0,0,0,0.2);
  width: 10vw;
  height: 5.2vh;
  font-family: 'arial', sans-serif;
  transition: width 0.4s linear;
  font-size:.7em;
  background-image: url("../icons/search.png");
  background-position: 5px 5px;
  background-repeat: no-repeat;
  background-size: contain;
  padding-left: 3em;
}
input:focus{
outline:none;
width: 15vw;
}
a
{
text-decoration: none;
color: inherit;
}
#authors
{
  width: 100%;
  height:3%;
  position: relative;
  top:4.7%;

  border: 2px solid sblack;

  display: flex;

  align-items: center;
  justify-content: center;
}
      #authorsNames
      {
       width: 75%;
       height: 80%;
       border-top:1px solid steelblue;
       border-bottom:1px solid steelblue;
       animation: 1s ease-out 0s 1 slideInFromTop;
      }
      #authorsNamesWrapper
      {
        width: 100%;
        height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        border: 1px solid sbrown;
      }
      #authorsNamesUl
      {
      list-style-type:none;
      font-family: arial;
      text-transform: ;
      font-size: .9em;
      }
      .authorsNamesLi
      {
      display: inline;
      border: 1px solid sred;
      padding-left:4em;
      }
      .authorsNamesLi:hover
      {
        cursor: pointer;
        color:steelblue;
      }
#bodyOverlay{
	width:100%;
	height:100%;
	display:flex;
	flex-direction:column;

	justify-content:center;
	align-items:center;
}
#articles
{
width: 65%;
height: 120%;

position:relative;
top:15.2%;


/* box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.1); */
}
#articlesWrapper
{
  width: 100%;
  height: 100%;
  overflow-x:hidden;
}
#articlesWrapperWrapper
{
  width: 400%;
  height: 100%;

  border:2px solid greens;
  display: flex;
  flex-direction: row;

  overflow-x: hidden;

}
.anArticle{
	width:100%;
	height:100%;
	border:1px solid pinkss;


	padding-left:2%;
	padding-right:2%;

	word-wrap:break-word;

}
#theArticleWrapper{
	width:100%;
	height:100%;

	display:flex;
	flex-direction:column;
  overflow-y:hidden;
}

#articleTitle{width:100%;height:4%;border:1px solid sorange; display:flex;
flex-direction:column; justify-content:center;
align-items:flex-start;
animation: 1s ease-out 0s 1 slideInFromTop;

}
#articleTitleP
{
line-height: .7;
}
#articleTitleWrapper{width:100%;height:100%;}
#articleTitleP{color:rgba(0,0,0,.84);
font-family: 'Krub', sans-serif;
font-size:3.2em;}

#articleMeta{width:100%;height:2%;border:1px solid pinks; padding-bottom:.4%;animation: 1s ease-out 0s 1 slideInFromBottom;
}
#articleMetaWrapper{width:100%;height:100%;display:flex; flex-direction:row;}

#pictureMeta{width:10.5%; height:92%; border:1px solid greens; border-radius:50%;
background-image:url("../images/skyUp2.jpg");
background-position:center;
background-size:cover;}

#nameDateMeta{width:85%; height:100%; display:flex;flex-direction:column; justify-content: flex-start; align-items: flex-start;position:relative;
  font-family: "Lucida Console", Arial, sans-serif;text-transform:;font-size: .8em;color:rgba(0,0,0,.84)}
#nameMeta{width:100%;height:100%;border:1px solid pinks;position:;top:;}
#dateMeta{width:100%;height:100%;border:1px solid pinks;}

.articleText{width:100%;height:94.2%;border:1px solid syellow; font-family:"Georgia";
line-height:1.8; font-size:1.2em; color:rgba(0,0,0,.84);
text-indent: 50px;    -webkit-animation: fadein 2s;
}
#articleTextWrapper{width:100%;height:100%;}

/*sources formatting*/
#worksCited
{
  text-indent:-7%;
  position: relative;
  top:1%;
  border: 1px solid sblack;
  margin-left: 7%;
  font-size:.95em;
}
#worksCited span{
text-indent:;
}
.worksP
{
  text-indent: 40%;
}
iframe
{
  border:1px solid spink;
  width: 78%;
  height:12%;

  position: relative;
  left:20%;
}
.anImage
{
  border:1px solid syellow;
  width: 78%;
  height:10%;
  position: relative;
  left: 14%;
}
/* week1 */
.imgCap
{
  color:rgba(0,0,0,.84);
  margin-left: 35%;
  font-size: .8em;
}
#nei1{
  background-repeat: no-repeat;background-position: center;background-image:url("../images/week1/nei/img1.jpg");background-size: cover;
}#nei2{
  background-repeat: no-repeat;background-position: center;background-image:url("../images/week1/nei/img2.jpg");  background-size: cover;
}#nei3{
  background-repeat: no-repeat;background-position: center;background-image:url("../images/week1/nei/img3.jpg");background-size: contain;
}
#varn1{
  background-repeat: no-repeat;background-position: center;background-image:url("../images/week1/varn/img1.jpg");background-size: cover;
}
#win1{
  background-repeat: no-repeat;background-position: center;background-image:url("../images/week1/win/img1.png");background-size: contain;
}
#mun1
{
  background-repeat: no-repeat;background-position: center;background-image:url("../images/week1/mun/img1.png");background-size: contain;
}
.link
{
  color: steelblue;
}
/*week2*/
#w2mun1{background-repeat: no-repeat;background-position: center;background-image:url("../images/week2/mun/img1.png");background-size: contain;}

#w2Varn1{background-repeat: no-repeat;background-position: center;background-image:url("../images/week2/mun/img1.png");background-size: contain;}
#w2Varn2{background-repeat: no-repeat;background-position: center;background-image:url("../images/week2/mun/img2.png");background-size: contain;}
#w2Varn3{background-repeat: no-repeat;background-position: center;background-image:url("../images/week2/mun/img3.png");background-size: contain;}
